<!DOCTYPE html>

<html>
<head>
    <title>{{ fullpath }}</title>
</head>
<body>
    <h3>
        {% for i in range(fullpath.count('/') - 1) -%}
            {%- set path = fullpath.split('/')[1:i + 2] -%}
            <a href="/{{ '/'.join(path) }}/">{{ path[-1] }}/</a>
        {%- endfor %}
        <br/>
        {{ node.size | format_size }}
    </h3>
    <table>
        <tr>
            <td><a href="../">..</a></td>
        </tr>
        {% for child in node.children.values() | sort_by_size %}
            <tr>
                <td><a href="{{ child.name }}/">{{ child.name }}</a></td>
                <td style="padding-left:1em">{{ child.size | format_size }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
